.form {
    display: flex;
    flex-direction: column;

    >* {
        margin-bottom: $m-size;
    }

    .SingleDatePickerInput {
        display: block;
    }

    .DateInput.DateInput_1 {
        width: auto;
        display: block;
    }
}

.form__error {
    font-style: italic;
    margin: 0 0 $m-size 0;
}