// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: $m-size * 2;
$xl-size: $m-size * 3;
$desktop-breakpoint: 45rem;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Colors
$dark-gray: #333;
$gray: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7